### Mark's Pizza Ad

In [119]:
# import all libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [120]:
#Assign them to a variable for easy access if neccesary
order_details = 'C:/Users/valde/Desktop/Tripleten/Marks_pizza_ad/marks-pizza-ad/Datasets/order_details.csv'
orders = 'C:/Users/valde/Desktop/Tripleten/Marks_pizza_ad/marks-pizza-ad/Datasets/orders.csv'
pizza_types = 'C:/Users/valde/Desktop/Tripleten/Marks_pizza_ad/marks-pizza-ad/Datasets/pizza_types.csv'
pizzas = 'C:/Users/valde/Desktop/Tripleten/Marks_pizza_ad/marks-pizza-ad/Datasets/pizzas.csv'

In [121]:
#Read all the libraries
order_details = pd.read_csv(order_details, encoding='ISO-8859-1')
orders = pd.read_csv(orders, encoding='ISO-8859-1')
pizza_types = pd.read_csv(pizza_types, encoding='ISO-8859-1')
pizzas = pd.read_csv(pizzas, encoding='ISO-8859-1')

In [122]:
print(order_details.head())

   order_details_id  order_id       pizza_id  quantity
0                 1         1     hawaiian_m         1
1                 2         2  classic_dlx_m         1
2                 3         2  five_cheese_l         1
3                 4         2    ital_supr_l         1
4                 5         2     mexicana_m         1

#The following code will clean the "orders_details"

In [123]:
#Print the information for the dataset
order_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48620 entries, 0 to 48619
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_details_id  48620 non-null  int64
 1   order_id          48620 non-null  int64
 2   pizza_id          48620 non-null  object
 3   quantity          48620 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.5+ MB

It seems like pizzas that belong together have the same ID.

In [124]:
#Check for missing values just in case they arent N/A
order_details.isnull().sum()

order_details_id    0
order_id            0
pizza_id            0
quantity            0
dtype: int64

In [125]:
#Check for duplicates inside the order details and inside order_details_id
duplicates_order_details = order_details['order_details_id'].duplicated()
if duplicates_order_details.any():
    print('There are duplicates')
else:
    print('No duplicates')

No duplicates

No duplicates found inside the order_details_id which is the only one that logically could contain a duplicate

In [126]:
#Check for values to be correct and properly display
display(order_details.sample(5))

       order_details_id  order_id       pizza_id  quantity
14444             14445      6320    ckn_pesto_l         1
40265             40266     17753      bbq_ckn_l         1
15919             15920      6999     mexicana_l         1
39283             39284     17303  five_cheese_l         1
28189             28190     12419  five_cheese_l         1

The following code will clean the "orders" dataset

In [127]:
#Print the information for the dataset
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21350 entries, 0 to 21349
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   order_id  21350 non-null  int64
 1   date      21350 non-null  object
 2   time      21350 non-null  object
dtypes: int64(1), object(2)
memory usage: 500.5+ KB

In [128]:
#Check for missing values just in case they arent N/A
orders.isnull().sum()

order_id    0
date        0
time        0
dtype: int64

In [129]:
#Check for duplicates inside the order details and inside order_details_id
duplicates_orders = orders['order_id'].duplicated()
if duplicates_orders.any():
    print('There are duplicates')
else:
    print('No duplicates')

No duplicates

No duplicates found inside the order_id which is the only one that logically could contain a duplicate

In [130]:
#Check for values to be correct and properly display
display(orders.sample(5))

       order_id        date      time
6443       6444  2015-04-18  20:50:24
19971     19972  2015-12-05  20:13:44
839         840  2015-01-14  20:46:12
8579       8580  2015-05-24  12:46:57
1077       1078  2015-01-18  20:20:42

The following code will clean the "pizzas" dataset

In [131]:
#Print the information for the dataset
pizzas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   pizza_id       96 non-null     object
 1   pizza_type_id  96 non-null     object
 2   size           96 non-null     object
 3   price          96 non-null     float64
dtypes: float64(1), object(3)
memory usage: 3.1+ KB

In [132]:
#Check for missing values just in case they arent N/A
pizzas.isnull().sum()

pizza_id         0
pizza_type_id    0
size             0
price            0
dtype: int64

In [133]:
#Check for duplicates inside the order details and inside order_details_id
duplicates_pizza = pizzas['pizza_id'].duplicated()
if duplicates_pizza .any():
    print('There are duplicates')
else:
    print('No duplicates')

No duplicates

No duplicates found inside the pizza_id which is the only one that logically could contain a duplicate

In [134]:
#Check for values to be correct and properly display
display(pizzas.sample(5))

          pizza_id pizza_type_id size  price
82  mediterraneo_m  mediterraneo    M  16.00
72   four_cheese_s   four_cheese    S  11.75
75  green_garden_s  green_garden    S  12.00
17      thai_ckn_l      thai_ckn    L  20.75
9      ckn_pesto_s     ckn_pesto    S  12.75

The following code will clean the "pizza_types" dataset

In [135]:
#Print the information for the dataset
pizza_types.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   pizza_type_id  32 non-null     object
 1   name           32 non-null     object
 2   category       32 non-null     object
 3   ingredients    32 non-null     object
dtypes: object(4)
memory usage: 1.1+ KB

In [136]:
#Check for missing values just in case they arent N/A
pizza_types.isnull().sum()

pizza_type_id    0
name             0
category         0
ingredients      0
dtype: int64

In [137]:
#Check for duplicates inside the order details and inside order_details_id
duplicates_pizza_type = pizza_types['pizza_type_id'].duplicated()
if duplicates_pizza_type .any():
    print('There are duplicates')
else:
    print('No duplicates')

No duplicates

No duplicates found inside the "pizza_type_id" which is the only one that logically could contain a duplicate

In [138]:
#Check for values to be correct and properly display
display(pizza_types.sample(5))

,pizza_type_id,name,category,ingredients
5,thai_ckn,The Thai Chicken Pizza,Chicken,"Chicken, Pineapple, Tomatoes, Red Peppers, Tha..."
12,pepperoni,The Pepperoni Pizza,Classic,"Mozzarella Cheese, Pepperoni"
29,spin_pesto,The Spinach Pesto Pizza,Veggie,"Spinach, Artichokes, Tomatoes, Sun-dried Tomat..."
24,four_cheese,The Four Cheese Pizza,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo..."
20,soppressata,The Soppressata Pizza,Supreme,"Soppressata Salami, Fontina Cheese, Mozzarella..."

In [139]:
#Find the best selling pizzas and see the toppings that sale the most from those
pizza_sales = pd.merge(order_details, pizzas, on='pizza_id')
pizza_sales = pd.merge(pizza_sales, pizza_types, on='pizza_type_id')

In [140]:
#Group by pizza name and aggregate total number of pizzas sold
pizza_sales_summary = pizza_sales.groupby('name').agg({'quantity':'sum'}).reset_index()

In [141]:
#Sort by the number of pizzas sold in descending order
top_5_pizzas = pizza_sales_summary.sort_values(by='quantity', ascending=False).head(5)

In [142]:
#Display the top 5 pizzas
display(top_5_pizzas)

                          name  quantity
7     The Classic Deluxe Pizza      2453
0   The Barbecue Chicken Pizza      2432
12          The Hawaiian Pizza      2422
20         The Pepperoni Pizza      2418
30      The Thai Chicken Pizza      2371

In [143]:
#Filter the pizza_types dataframe to get the ingredients for the top 5 pizzas
top_5_with_ingredients = pizza_types[pizza_types['name'].isin(top_5_pizzas['name'])]

In [144]:
#Print the name of the pizza and its ingredients
for index, row in top_5_with_ingredients.iterrows():
    print(f"Pizza: {row['name']}")
    print(f"Ingredients: {row['ingredients']}\n")

Pizza: The Barbecue Chicken Pizza
Ingredients: Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce

Pizza: The Thai Chicken Pizza
Ingredients: Chicken, Pineapple, Tomatoes, Red Peppers, Thai Sweet Chilli Sauce

Pizza: The Classic Deluxe Pizza
Ingredients: Pepperoni, Mushrooms, Red Onions, Red Peppers, Bacon

Pizza: The Hawaiian Pizza
Ingredients: Sliced Ham, Pineapple, Mozzarella Cheese

Pizza: The Pepperoni Pizza
Ingredients: Mozzarella Cheese, Pepperoni

Find the ingredients that take part of the pizzas the most

In [145]:
#Merge the datasets to connect orders with pizza names and ingredients
pizza_sales = pd.merge(order_details, pizzas, on='pizza_id')
pizza_sales = pd.merge(pizza_sales, pizza_types, on='pizza_type_id')

In [146]:
#Split the ingredients for each pizza type into individual ingredients
pizza_sales['ingredients'] = pizza_sales['ingredients'].str.split(',')

In [147]:
#Create a new dataframe to store ingredients-levels sales
ingredient_sales = []

In [148]:
#Iterate over each pizza order and break down the ingredients, attributing sales to each
for index, row in pizza_sales.iterrows():
    for ingredient in row['ingredients']:
        ingredient = ingredient.strip()  # Remove any extra spaces
        ingredient_sales.append({
            'ingredient': ingredient,
            'quantity': row['quantity']
        })

In [149]:
#Convert the list of ingredient sales to a DataFrame
ingredient_sales_df = pd.DataFrame(ingredient_sales)

In [150]:
#Group by ingredient and sum the sales (quantities)
ingredient_sales_summary = ingredient_sales_df.groupby('ingredient').agg({'quantity': 'sum'}).reset_index()

In [151]:
#Sort the ingredients by total sales
top_ingredients = ingredient_sales_summary.sort_values(by='quantity', ascending=False)

In [152]:
#Display the top ingredients by sales
display(top_ingredients.head(10))

           ingredient  quantity
25             Garlic     27913
62           Tomatoes     27052
51         Red Onions     19834
52        Red Peppers     16562
36  Mozzarella Cheese     10569
44          Pepperoni     10540
58            Spinach     10166
37          Mushrooms      9729
15            Chicken      8618
13          Capocollo      6692

In [153]:
#Remove common ingredients that go in pizza like Tomatoes, Garlic and Mozzarella Cheese

In [154]:
#Initialize a list to collect all the ingredients sales
ingredient_sales = []

In [155]:
#List of the ingredients being excluded
excluded_ingredients = ['Garlic', 'Mozzarella Cheese', 'Tomatoes']

In [156]:
#Iterate over each pizza order and break down the ingredients
for index, row in pizza_sales.iterrows():
    for ingredient in row['ingredients']:
        ingredient = ingredient.strip()
        if ingredient not in excluded_ingredients:
            ingredient_sales.append({
                'ingredient': ingredient,
                'quantity' : row ['quantity']
            })

In [157]:
#Convert the list of ingredients sales to a Dataframe
ingredient_sales_df = pd.DataFrame(ingredient_sales)

In [158]:
#Group by ingredient and sum the sales (quantities)
ingredient_sales_summary = ingredient_sales_df.groupby('ingredient').agg({'quantity': 'sum'}).reset_index()

In [159]:
#Sort the ingredients by total sales
top_ingredients = ingredient_sales_summary.sort_values(by='quantity', ascending=False)

In [160]:
#Displa the top ingredients by sales
print(top_ingredients)

            ingredient  quantity
49          Red Onions     19834
50         Red Peppers     16562
42           Pepperoni     10540
56             Spinach     10166
35           Mushrooms      9729
..                 ...       ...
46          Prosciutto       490
40               Pears       490
14  Caramelized Onions       490
59               Thyme       490
11   Brie Carre Cheese       490

[62 rows x 2 columns]

In [161]:
#Export dataset for visualization
#top_ingredients.to_csv('top_ingredients.csv', index=False)

Top selling ingredients go together ^^^^^^

### Find the best selling size from all the orders

In [162]:
#Merge the order_details with pizzas to get size information
pizza_sales_by_size = pd.merge(order_details, pizzas, on='pizza_id')

In [163]:
#Group by pizza size and sum the total number of pizzas sold
size_sales_summary = pizza_sales_by_size.groupby('size').agg({'quantity':'sum'}).reset_index()

In [164]:
#Sort the results by quantity in descending order to find the size with the most sales
top_size_sales = size_sales_summary.sort_values(by='quantity', ascending=False)

In [165]:
#Display the pizza size with the most sales
print(top_size_sales)

  size  quantity
0    L     18956
1    M     15635
2    S     14403
3   XL       552
4  XXL        28

In [166]:
#Export dataset for visualization
#top_size_sales.to_csv('top_size_sales.csv', index=False)

### Find the pizza price without ingredients

In [167]:
#Group by pizza size and calculate the average price for each size
average_price_by_size = pizzas.groupby('size')['price'].mean().reset_index()
print("Average price by pizza size:")
print(average_price_by_size)

Average price by pizza size:
  size      price
0    L  20.022581
1    M  15.991935
2    S  12.512500
3   XL  25.500000
4  XXL  35.950000

### Number of ingredients

In [168]:
#Add a column for the number of ingredients in each pizza
pizza_types['num_ingredients'] = pizza_types['ingredients'].apply(lambda x: len(x.split(',')))

In [169]:
#Merge this with pizza data to get the price and size
pizza_complexity = pd.merge(pizzas, pizza_types[['pizza_type_id', 'num_ingredients']], on='pizza_type_id')

In [170]:
#Group by size and number of ingredients to calculate the average price
average_price_by_complexity = pizza_complexity.groupby(['size', 'num_ingredients'])['price'].mean().reset_index()

In [171]:
#Display the dataset
print("Average price by pizza size and complexity (number of ingredients):")
print(average_price_by_complexity)

Average price by pizza size and complexity (number of ingredients):
   size  num_ingredients      price
0     L                2  15.250000
1     L                3  18.250000
2     L                4  20.500000
3     L                5  20.135714
4     L                6  20.437500
5     L                7  20.666667
6     L                8  20.500000
7     M                2  12.500000
8     M                3  14.750000
9     M                4  16.000000
10    M                5  16.000000
11    M                6  16.354167
12    M                7  16.500000
13    M                8  16.312500
14    S                2   9.750000
15    S                3  11.333333
16    S                4  12.000000
17    S                5  12.142857
18    S                6  13.300000
19    S                7  12.500000
20    S                8  12.312500
21   XL                6  25.500000
22  XXL                6  35.950000

In [172]:
#Export dataset for visualization
#average_price_by_complexity.to_csv('average_price_by_complexity.csv', index=False)

In [173]:
# Assuming a premium ingredient count for the new pizza (let’s say it has 8 ingredients)
new_pizza_complexity = 8  # Adjust this as per your new pizza's ingredients

# Filter to get prices for pizzas with similar complexity and size, then add a premium adjustment
# Example premium adjustment of 10%
new_pizza_price_estimate = average_price_by_complexity[
    (average_price_by_complexity['num_ingredients'] == new_pizza_complexity) & 
    (average_price_by_complexity['size'] == 'M')  # Adjust size as per the new pizza's planned size
]['price'].values[0] * 1.1

print(f"Estimated price for the new pizza with complexity level {new_pizza_complexity}: ${new_pizza_price_estimate:.2f}")

Estimated price for the new pizza with complexity level 8: $17.94