### Mark's Pizza Ad

In [1]:
# import all libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
#Assign them to a variable for easy access if neccesary
order_details = 'C:/Users/valde/Desktop/Tripleten/Marks_pizza_ad/marks-pizza-ad/Datasets/order_details.csv'
orders = 'C:/Users/valde/Desktop/Tripleten/Marks_pizza_ad/marks-pizza-ad/Datasets/orders.csv'
pizza_types = 'C:/Users/valde/Desktop/Tripleten/Marks_pizza_ad/marks-pizza-ad/Datasets/pizza_types.csv'
pizzas = 'C:/Users/valde/Desktop/Tripleten/Marks_pizza_ad/marks-pizza-ad/Datasets/pizzas.csv'

In [3]:
#Read all the libraries
order_details = pd.read_csv(order_details, encoding='ISO-8859-1')
orders = pd.read_csv(orders, encoding='ISO-8859-1')
pizza_types = pd.read_csv(pizza_types, encoding='ISO-8859-1')
pizzas = pd.read_csv(pizzas, encoding='ISO-8859-1')

In [4]:
print(order_details.head())

   order_details_id  order_id       pizza_id  quantity
0                 1         1     hawaiian_m         1
1                 2         2  classic_dlx_m         1
2                 3         2  five_cheese_l         1
3                 4         2    ital_supr_l         1
4                 5         2     mexicana_m         1

#The following code will clean the "orders_details"

In [5]:
#Print the information for the dataset
order_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48620 entries, 0 to 48619
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_details_id  48620 non-null  int64
 1   order_id          48620 non-null  int64
 2   pizza_id          48620 non-null  object
 3   quantity          48620 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.5+ MB

It seems like pizzas that belong together have the same ID.

In [6]:
#Check for missing values just in case they arent N/A
order_details.isnull().sum()

order_details_id    0
order_id            0
pizza_id            0
quantity            0
dtype: int64

In [7]:
#Check for duplicates inside the order details and inside order_details_id
duplicates_order_details = order_details['order_details_id'].duplicated()
if duplicates_order_details.any():
    print('There are duplicates')
else:
    print('No duplicates')

No duplicates

No duplicates found inside the order_details_id which is the only one that logically could contain a duplicate

In [8]:
#Check for values to be correct and properly display
display(order_details.sample(5))

       order_details_id  order_id        pizza_id  quantity
47302             47303     20787      mexicana_m         1
37443             37444     16532     ckn_pesto_m         1
17497             17498      7687      hawaiian_l         1
5473               5474      2422      cali_ckn_l         1
28667             28668     12626  green_garden_m         1

The following code will clean the "orders" dataset

In [9]:
#Print the information for the dataset
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21350 entries, 0 to 21349
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   order_id  21350 non-null  int64
 1   date      21350 non-null  object
 2   time      21350 non-null  object
dtypes: int64(1), object(2)
memory usage: 500.5+ KB

In [10]:
#Check for missing values just in case they arent N/A
orders.isnull().sum()

order_id    0
date        0
time        0
dtype: int64

In [11]:
#Check for duplicates inside the order details and inside order_details_id
duplicates_orders = orders['order_id'].duplicated()
if duplicates_orders.any():
    print('There are duplicates')
else:
    print('No duplicates')

No duplicates

No duplicates found inside the order_id which is the only one that logically could contain a duplicate

In [12]:
#Check for values to be correct and properly display
display(orders.sample(5))

       order_id        date      time
1346       1347  2015-01-23  15:32:59
13728     13729  2015-08-17  13:23:25
17087     17088  2015-10-16  18:27:26
10917     10918  2015-07-02  19:15:58
6542       6543  2015-04-20  17:37:59

The following code will clean the "pizzas" dataset

In [13]:
#Print the information for the dataset
pizzas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   pizza_id       96 non-null     object
 1   pizza_type_id  96 non-null     object
 2   size           96 non-null     object
 3   price          96 non-null     float64
dtypes: float64(1), object(3)
memory usage: 3.1+ KB

In [14]:
#Check for missing values just in case they arent N/A
pizzas.isnull().sum()

pizza_id         0
pizza_type_id    0
size             0
price            0
dtype: int64

In [15]:
#Check for duplicates inside the order details and inside order_details_id
duplicates_pizza = pizzas['pizza_id'].duplicated()
if duplicates_pizza .any():
    print('There are duplicates')
else:
    print('No duplicates')

No duplicates

No duplicates found inside the pizza_id which is the only one that logically could contain a duplicate

In [16]:
#Check for values to be correct and properly display
display(pizzas.sample(5))

          pizza_id pizza_type_id size  price
95    veggie_veg_l    veggie_veg    L  20.25
82  mediterraneo_m  mediterraneo    M  16.00
68  spinach_supr_l  spinach_supr    L  20.75
14    southw_ckn_l    southw_ckn    L  20.75
47     calabrese_l     calabrese    L  20.25

The following code will clean the "pizza_types" dataset

In [17]:
#Print the information for the dataset
pizza_types.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   pizza_type_id  32 non-null     object
 1   name           32 non-null     object
 2   category       32 non-null     object
 3   ingredients    32 non-null     object
dtypes: object(4)
memory usage: 1.1+ KB

In [18]:
#Check for missing values just in case they arent N/A
pizza_types.isnull().sum()

pizza_type_id    0
name             0
category         0
ingredients      0
dtype: int64

In [19]:
#Check for duplicates inside the order details and inside order_details_id
duplicates_pizza_type = pizza_types['pizza_type_id'].duplicated()
if duplicates_pizza_type .any():
    print('There are duplicates')
else:
    print('No duplicates')

No duplicates

No duplicates found inside the "pizza_type_id" which is the only one that logically could contain a duplicate

In [20]:
#Check for values to be correct and properly display
display(pizza_types.sample(5))

,pizza_type_id,name,category,ingredients
18,prsc_argla,The Prosciutto and Arugula Pizza,Supreme,"Prosciutto di San Daniele, Arugula, Mozzarella..."
17,peppr_salami,The Pepper Salami Pizza,Supreme,"Genoa Salami, Capocollo, Pepperoni, Tomatoes, ..."
13,the_greek,The Greek Pizza,Classic,"Kalamata Olives, Feta Cheese, Tomatoes, Garlic..."
21,spicy_ital,The Spicy Italian Pizza,Supreme,"Capocollo, Tomatoes, Goat Cheese, Artichokes, ..."
20,soppressata,The Soppressata Pizza,Supreme,"Soppressata Salami, Fontina Cheese, Mozzarella..."

In [21]:
#Find the best selling pizzas and see the toppings that sale the most from those
pizza_sales = pd.merge(order_details, pizzas, on='pizza_id')
pizza_sales = pd.merge(pizza_sales, pizza_types, on='pizza_type_id')

In [22]:
#Group by pizza name and aggregate total number of pizzas sold
pizza_sales_summary = pizza_sales.groupby('name').agg({'quantity':'sum'}).reset_index()

In [23]:
#Sort by the number of pizzas sold in descending order
top_5_pizzas = pizza_sales_summary.sort_values(by='quantity', ascending=False).head(5)

In [24]:
#Display the top 5 pizzas
display(top_5_pizzas)

                          name  quantity
7     The Classic Deluxe Pizza      2453
0   The Barbecue Chicken Pizza      2432
12          The Hawaiian Pizza      2422
20         The Pepperoni Pizza      2418
30      The Thai Chicken Pizza      2371